html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 15px 20px;
}

main {
    flex: 1;
}

footer {
    padding: 15px 20px;
}

/* .container {
    width: 90%;
    margin: 0 auto;
} */