.main-content,
.hero-section {
    display: flex;
    justify-content: center;
}

.hero-section,
.hero-section img {
    width: 100%;
}

.hero-section img {
    position: relative;
}

.hero-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 230px;
    left: 150px;
    color: white;
}

.hero-text-container .title {
    font-size: 98px;
}

.hero-text-container .sub-title {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-container {
    font-size: 24px;
    margin: 45px 0;
    display: flex;
    gap: 25px;
}

.btn-donate {
    background-color: #fa6008;
}

.btn-cause {
    background-color: rgba(255, 255, 255, 0.884);
    color: #fa6008;
}

.btn:hover {
    transform: translateY(-4px) scale(1.05);
}

.btn-donate:hover {
    background-color: white;
    color: #fa6008;
}

.btn-cause:hover {
    background-color: #fa6008; 
    color: white;
}