.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

.logo p {
    font-size: 32px;
    font-weight: bold;
    color: #eb5a1d;
}

.navbar-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}