.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    margin: 20px;
    width: calc(100% - 40px);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

.logo p {
    font-size: 36px;
    font-weight: bold;
    color: #fa6008;
    margin-left: 10px;
}

.profile-menu {
    background: rgba(255, 255, 255, 0.884);
    border-radius: 10px; 
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #fa6008;
}

.profile-menu a {
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;
}

.profile-menu a:hover {
    transform: translateY(-3px);
    color: #ff7b38;
}