{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main-content">
        <section class="hero-section">
            <img src="/static/images/hero.png" alt="">
            <div class="hero-text-container">
                <div class="title montserrat-bold">
                    <p>Share God's Love</p>
                    <p>Thought Givind</p>   
                </div>
                <br>
                <div class="sub-title">
                    <p>Support a cause, create a mission and make</p>
                    <p>a difference in Jesu's name.</p>
                </div>    
                <div class="btn-container">
                    <a class="btn btn-donate" href="">Donate Now</a>
                    <a class="btn btn-cause" href="">Start a Cause</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
